.container {
  display: flex;

  justify-content: center;
}
.categoryDiv {
  background-color: black;
  color: beige;
}
.card {
  flex-direction: column;
  width: 200px;
}

.title {
  font-size: 18px;
}

.description {
  font-size: 16px;
}

.image {
  width: 150px;
  padding: 5px;
}
