.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(137, 43, 226, 0.493);

  width: 100%;
}

.listaMenu {
  display: flex;
}

.listaMenu li {
  list-style-type: none;
}
.link {
  padding: 1em;
}

.activeLink {
  color: whitesmoke;
  background-color: black;
}
