.counterDiv {
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px 30px;
}

.title {
  color: whitesmoke;
}
.amountCounter {
  background-color: aqua;
  padding: 5px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.buttons {
  padding: 5px;
  margin: 5px;
}
.addButton {
  padding: 5px;
}
